---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Manuel Gorrin" description="About Manuel Gorrin">
	<div class="stack gap-20">
		<main class="wrapper about">
			<h2 style="text-align: center;">About me !!</h2>
			
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My name is Manuel, I'm passionate about programming, I enjoy learning new technologies, 
						and I'm currently learning full-stack web development. I currently specialize in backend development. 
						I'm proficient in several programming languages, following best practices, object-oriented programming, data structures, and design patterns.
						I also have extensive knowledge in DevOps, network administration, and security analysis.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Computer Engineering at the University of Matanzas. Cuba</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><strong>Programming languages:</strong> Bash ,Python, C#, PHP and Javascript.</p>
					<p><strong>Frameworks CSS:</strong> Bootstrap and TailwindCSS.</p>
					<p><strong>Frameworks:</strong> ReactJS ,ASP.Net, ExpressJS, Flask and FastAPI.</p>
					<p><strong>ORMs:</strong> EntityFramework, Prisma, SQLAlchemy.</p>
					<p><strong>Database Manager:</strong> MySQL ,Redis, InfluxDB, MariaDB and PostgreSQL.</p>
					<p><strong>Version Control:</strong> Git and Github.</p>
					<p><strong>Operating system:</strong> Linux , FreeBSD ,Alpine, Windows and MacOS.</p>
					<p><strong>Web Server:</strong> Apache2, Nginx and Traefik.</p>
					<p><strong>Virtualization Cloud Computing:</strong> Proxmox, Docker and Kubernetes.</p>
					<p><strong>Monitoring Tools:</strong> Zabbix,Telegraf,InfluxDB,Grafana.</p>
					<p><strong>Firewalls:</strong> pfSense and OPNsense.</p>
					<p><strong>CI/CD tools:</strong> Ansible, Terraform, Jenkins, Github Actions.</p>
					<p><strong>Security Tools:</strong> Metasploit, Nmap, Wireshark, WPscan, Bettercap, Beef, Settoolkit, BurpSuite.</p>					
				</div>
			</section>
			<section>
				<h2 class="section-title">Enfoque</h2>
				<div class="content">
					<p>I care deeply about software optimization, security, best practices, and code quality. I believe in writing efficient, secure, and maintainable code that follows industry standards.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
